<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Coches</title>
    <!-- Agrega tus enlaces a CSS y JavaScript si es necesario -->
</head>
<body>
<h1>Coches</h1>
<!-- Enlace para agregar un nuevo producto -->
<a th:href="@{/coche/nuevo}">Agregar Nuevo Coche</a> 
<div th:each="coche : ${coches}">
    <p th:text="${coche.marca}">Marca</p>
    <p th:text="${coche.matricula}">Matricula</p>
	<p th:text="${coche.color}">Color</p>
	<!-- Enlace para editar -->
    <a th:href="@{/coche/editar/{id}(id=${coche.id})}">Editar</a>
    <!-- Enlace para eliminar -->
    <a th:href="@{/coche/eliminar/{id}(id=${coche.id})}" th:onclick="'return confirm(\'' + '¿Estás seguro de que quieres eliminar este coche?' + '\')'">Eliminar</a>
</div>

</body>
</html>
